<% layout('../includes/template') -%>
<%block('title','Detalhe Produto');-%>
<main class="main">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="/catalogo-servicos">Serviços</a></li>
    <li class="breadcrumb-item"><%= rows[0].nome_servico %></li>
  </ol>
  <div class="container-fluid">
    <div class="animated fadeIn">
      <div class="row mt-3 mb-3">
        <div class="col">
          <h2 style="text-transform: uppercase">Detalhes de <%= rows[0].nome_servico %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col d-block d-sm-none mb-3">
                  <img src=<%= rows[0].link %> class="img-responsive" style="width:100%">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h4><%= rows[0].nome_servico %></h4>
                  <p><%= rows[0].descricao_servico %></p>
                  <hr>
                  <h5>Horários de Atendimento</h5>
                  <p><%= rows[0].hora_abertura.substring(1, 2)%>h às</p>
                  <h5>Responsável</h5>
                  <p><%= rows[0].nome %></p>
                  <h5>Localização</h5>
                  <p>Bloco/andar <%= rows[0].bloco_andar %>. Apto/casa <%= rows[0].numero_casa %>.</p>
                  <hr>
                  <% if (rows.length > 1 || rows[0].id_produto != null){ %>
                  <h5 class="text-center">Produtos</h5>
                  <table class="table table-sm table-responsive" id="tb-produtos">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th class="text-right" style="width:15%;">Preço</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% rows.forEach(function(produto){ %>
                      <tr>
                        <td><%= produto.nome_produto %></td>
                        <td><%= produto.descricao_produto %></td>
                        <td class="text-right"><%= 'R$ ' + produto.preco  %></td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                  <% } %>
                </div>
                <div class="col d-none d-sm-block">
                  <img src=<%= rows[0].link %> class="img-responsive" style="width:100%">
                </div>
              </div>
              <!-- Botões -->
                <div class="col text-right">
                  <a href=<%= "/catalogo-servicos/detalhes-servico/solicitar?servico="+ rows[0].id_servico %>
                    class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Prosseguir">Solicitar Serviço <i
                      class="fa fa-chevron-right"></i><i
                      class="fa fa-chevron-right"></i></a>
                </div>
              </div>
              <!-- Fim Botões -->
            </div>
            <!--Fim card-body-->
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</main>