<% layout('../includes/template') -%>
<%block('title','Detalhe Produto');-%>
<main class="main">
  <div class="container-fluid">
    <div class="animated fadeIn">
      <a href = "/catalogo-servicos">Serviços</a> > <a href="javascript:window.location.href=window.location.href">Detalhes Serviço</a>
      <div class="row mt-3 mb-3">
        <div class="col">
          <h2>Solicitação de serviço</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
              </div>
              <div class="row">
                <div class="col">
                  <h4>Dados da Solicitação</h4>
                  <h5>Nome do Serviço: <%= rows[0].nome_servico %></h4>
                  <p><%= rows[0].descricao_servico %></p>
                  <hr>
                  <h5>Horários de Atendimento</h5>
                  <p><%= rows[0].hora_abertura.substring(1, 2)%>h às</p>
                  <h5>Responsável</h5>
                  <p><%= rows[0].nome %></p>
                  <h5>Localização</h5>
                  <p>Bloco/andar <%= rows[0].bloco_andar %>. Apto/casa <%= rows[0].numero_casa %>.</p>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <div class = "row">
              <a class = "btn btn-primary" href = "javascript:history.back()" style = "position:relative;left: 14px;"><i class="fas fa-arrow-left"></i> Voltar</a>
              <a class = "btn btn-primary" href = <%= "/catalogo-servicos/detalhes-servico/solicitar?id_servico="+ rows[0].id_servico %>>Solicitar este serviço <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
</main>
