<% layout('../includes/template') -%>
<%block('title','Usuários');-%>
    <main class="main">
      <div class="container-fluid">
        <div class="animated fadeIn">
          <div class="row mt-3 mb-3">
            <div class="col">
              <h2>Usuários</h2>
            </div>
            <div class = "col-sm-5">
              <input class="form-control" id="myInput" type="text" placeholder="Buscar usuario..">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h4 class="card-title mb-0">Ativos</h4>
                  <div class="small text-muted">Usuários ativos nos seus condominios</div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <table class="table table-responsive-sm table-hover table-outline mb-0 mt-2 table-sm">
                    <thead class="thead-light">
                      <tr>
                        <th>Nome</th>
                        <th>Unidade</th>
                        <th>E-mail</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id="ativos"> 
                      <% usuarios_ativos.forEach(function(usuario){ %>
                        <tr>
                          <td><%= usuario.nome %></td>
                          <td>Bloco <%= usuario.bloco_andar %> - Nº <%= usuario.numero_casa %></td>
                          <td><%= usuario.email %></td>
                          <td class="text-right">
                              <button class="btn btn-danger" title="Bloquear" onclick="bloquear(this)">
                                <i class="fa fa-ban"></i>
                              </button>
                          </td>    
                        </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h4 class="card-title mb-0">Bloqueados</h4>
                  <div class="small text-muted">Usuários bloqueados no sistema</div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <table class="table table-responsive-sm table-hover table-outline mb-0 mt-2 table-sm">
                    <thead class="thead-light">
                      <tr>
                        <th>Nome</th>
                        <th>Unidade</th>
                        <th>E-mail</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id = "bloqueados">
                      <% usuarios_banidos.forEach(function(usuario){ %>
                        <tr>
                          <td><%= usuario.nome %></td>
                          <td>Bloco/Andar <%= usuario.bloco_andar %> - Nº <%= usuario.numero_casa %></td>
                          <td><%= usuario.email %></td>
                          <td class="text-right">
                            <button class="btn btn-success" title="Desbloquear" onclick = "desbloquear(this)">
                              <i class="fa fa-lock-open"></i>
                            </button>
                          </td>
                        </tr>
                      <%}) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>
<% script('/javascript/administrador.js') -%>
