<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.12
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="pt-br">
<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  
  <title>Usuários</title>
  <!-- Icons-->
  <link href="/css/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
  <link href="/css/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
  <link href="/css/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <!-- Main styles for this application-->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  <%- include('../includes/menu.ejs') %>
    <main class="main">
      <div class="container-fluid">
        <div class="animated fadeIn">
          <div class="row mt-3 mb-3">
            <div class="col">
              <h2>Usuários</h2>
            </div>
            <div class = "col-sm-5">
              <input class="form-control" id="myInput" type="text" placeholder="Buscar usuario..">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h4 class="card-title mb-0">Ativos</h4>
                  <div class="small text-muted">Usuários ativos nos seus condominios</div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <table class="table table-responsive-sm table-hover table-outline mb-0 mt-2 table-sm">
                    <thead class="thead-light">
                      <tr>
                        <th>Nome</th>
                        <th>Unidade</th>
                        <th>E-mail</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id="ativos"> 
                      <% usuarios_ativos.forEach(function(usuario){ %>
                        <tr>
                          <td><%= usuario.nome %></td>
                          <td>Bloco <%= usuario.bloco_andar %> - Nº <%= usuario.numero_casa %></td>
                          <td><%= usuario.email %></td>
                          <td class="text-right">
                              <button class="btn btn-danger" title="Bloquear" onclick="bloquear(this)">
                                <i class="icon-ban"></i>
                              </button>
                          </td>    
                        </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h4 class="card-title mb-0">Bloqueados</h4>
                  <div class="small text-muted">Usuários bloqueados no sistema</div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <table class="table table-responsive-sm table-hover table-outline mb-0 mt-2 table-sm">
                    <thead class="thead-light">
                      <tr>
                        <th>Nome</th>
                        <th>Unidade</th>
                        <th>E-mail</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id = "bloqueados">
                      <% usuarios_banidos.forEach(function(usuario){ %>
                        <tr>
                          <td><%= usuario.nome %></td>
                          <td>Bloco/Andar <%= usuario.bloco_andar %> - Nº <%= usuario.numero_casa %></td>
                          <td><%= usuario.email %></td>
                          <td class="text-right">
                            <button class="btn btn-success" title="Desbloquear" onclick = "desbloquear(this)">
                              <i class="icon-lock-open"></i>
                            </button>
                          </td>
                        </tr>
                      <%}) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>
  <!-- CoreUI and necessary plugins-->
  <script src="/css/vendors/jquery/dist/jquery.min.js"></script>
  <script src="/css/vendors/popper.js/dist/umd/popper.min.js"></script>
  <script src="/css/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/css/vendors/pace-progress/pace.min.js"></script>
  <script src="/css/vendors/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
  <script src="/css/vendors/@coreui/coreui/dist/js/coreui.min.js"></script>

  <!-- função para procurar nas tabelas por usuário -->
  <script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#ativos tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
          $("#bloqueados tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
    });
  </script>
  <!-- função de bloquear e desbloquear usuário -->
  <script>
    function bloquear(botao){
      var linha_tabela = $(botao).parent().parent();
      linha_tabela.remove();
      $(botao).removeClass('btn btn-danger');
      $(botao).addClass('btn btn-success');
      $(botao).attr('title', "Desbloquear");
      $(botao).attr('onclick', "desbloquear(this)");
      var icone = $(botao).children();
      icone.removeClass('icon-ban');
      icone.addClass("icon-lock-open");
      $('#bloqueados').append(linha_tabela);
      $.ajax({
        url: "/administrador/usuarios/banir",
        data: {email: linha_tabela.children()[2].innerHTML}
      });
    }
    function desbloquear(botao){
      var linha_tabela = $(botao).parent().parent();
      linha_tabela.remove();
      $(botao).removeClass('btn btn-success');
      $(botao).addClass('btn btn-danger');
      $(botao).attr('title', "Bloquear");
      $(botao).attr('onclick', "bloquear(this)");
      var icone = $(botao).children();
      icone.removeClass("icon-lock-open");
      icone.addClass('icon-ban');
      $('#ativos').append(linha_tabela);
      $.ajax({
        url: "/administrador/usuarios/desbanir",
        data: {email: linha_tabela.children()[2].innerHTML}
      });
    }
  </script>
</body>

</html>